[submodule "eigen"]
	path = eigen
	url = https://github.com/PX4/eigen.git
[submodule "kalman-cpp"]
	path = kalman-cpp
	url = https://github.com/cridgeon/kalman-cpp.git
[submodule "gl-basic-renderer"]
	path = gl-basic-renderer
	url = https://github.com/cridgeon/gl-basic-renderer.git
